* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 976px;
  margin: 0 auto;
}

header {
  padding: 20px 0;
  border-bottom: 1px solid black;
}

.burger {
  display: none;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-btn {
  width: 256px;
  height: 36px;
  background-color: #fc004a;
  border-radius: 12px;
  border: 1px solid #fc004a;
  font-size: 14px;
  color: white;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.right a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  transition: all 0.7s;
}

.right a:hover {
  color: #fc004a;
}

.card{
    width: 235px;
    height: 391px;
    padding: 12px;
    border-radius: 15px;
    box-shadow: 0px 4px 6px -4px #0000001A;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.card-button{
    display: flex;
    justify-content: flex-end;
}

.plus{
    background-color: #fc004a;
    width: 40px;
    height: 40px;
    border-radius: 12px;
display: flex;
font-size: 40px;
display: flex;
justify-content: center;
align-items: center;
color: white;
border: none;
}


.main-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 12px;
}


.card-name{
    font-weight: 700;
    font-size: 18px;
    
}

.price{
    color: #fc004a;
    font-size: 18px;
    font-weight: 500;
}

.card:hover{
box-shadow: 0px 10px 15px -3px #0000001A;




}
@media (max-width: 800px) {
  .logo {
    display: none;
  }
}

@media (max-width: 590px) {
  .right {
    display: none;
  }

  .burger {
    display: block;
  }
}

